

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/*@font-face {*/
/*    font-family: "Atkinson Hyperlegible";*/
/*    src: url(font/AtkinsonHyperlegible-Regular.ttf) format("truetype");*/
/*}*/

body {
    margin: 0;
    font-family: "Atkinson Hyperlegible", sans-serif;
}

/*

Styling:

different states for messages:
    read / unread                                               read - light grey, unread - pale green
    focused single message                                      pale cyan
    other message (related to focused single message)
      target
      reply
      repliesto
    message in big list

*/

.header {
    position: sticky;
    top: 0;
    /*background-color: white;*/
    background-color: rgb(245,245,245);
    border-bottom: 1px solid rgb(128,128,128);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content {
    padding: 0 10px 10px;
}
.larger {
    font-size: x-large;
}
.center {
    text-align: center;
}
.call-to-action {
    display: inline-block;
    cursor: pointer;
    font-size: xx-large;
    background-color: rgb(170,255,0);
    border-radius: 15px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin: 50px;
    box-shadow: 3px 5px #888888;
}
.call-to-action:hover {
    background: linear-gradient(90deg, rgb(170,255,0) 0%, rgb(238, 255, 0) 45%, rgb(170,255,0) 100%);
}

.item {
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 5px 10px 0 gray;
}
.unread {
    background-color: rgb(245,255,245);
    border: 3px solid lawngreen;
}
.read {
    background-color: rgb(245,245,245);
    border: 3px solid rgb(180,180,180);
}
.focus {
    background-color: rgb(240,255,255);
    border: 3px solid cyan;
}
.blur {
    cursor: pointer;
}

.columns {
    display: flex;
    margin-top: 10px;
}

img.icon {
    max-width: 60px;
    max-height: 60px;
}

.blur img.icon {
    max-width: 40px;
    max-height: 40px;
}

.msg {
    background-color: white;
    border: 1px solid rgb(200,200,200);
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 0 10px;
}

pre {
    margin: 0;
    font-family: "Atkinson Hyperlegible", sans-serif;
    white-space: pre-wrap;
}

a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.placeholder {
    color: gray;
}

.spaced {
    margin-right: 5px;
    margin-left: 5px;
}
.links {
    margin-top: 10px;
}

div.carousel {
    margin-top: 10px;
    overflow: auto;
    white-space: nowrap;
}
img.carousel {
    vertical-align: top;
    max-width: 94vw; /* should calculate this properly - or just make the carousel full page width */
    width: 1000px;
    object-fit: contain;
}

.blur img.carousel {
    width: 200px;
    max-width: 20vw;
}

input[type=text] {
    font-size: larger;
    width: 75vw;
}

span.label {
    display: inline-block;
    width: 20vw;
    text-align: left;
    font-weight: bold;
}